// Hack for github
.gh-header-meta .commit-ref .css-truncate-target{
  vertical-align: middle !important;
}

span.jira-hotlink-badge{
  background-color: #f2f8fa;
  border: solid 2px;
  padding: 0.1em 0.25em;
  color: #3b2328;
  border-color:  #dde4e6;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  a{
    font-weight: bold;
  }
  span{
    margin-left: 0.6em;
  }
  span.status{
    font-weight: bold;
    background-color: white;
    padding: 0.05em 0.1em;
    border-radius: 3px;
  }
  span.status.blue-gray{
    color: lightblue;
  }
  span.status.yellow{
    color: darkorange;
  }
  span.status.green{
    color: #14892c;
  }
  
}

@media (prefers-color-scheme: dark) {
  span.jira-hotlink-badge{
    filter: invert(0.9) hue-rotate(180deg);
  }
    
}
